# build
*.tar.gz
dependency-reduced-pom.xml
scratch
target

# eclipse
.classpath
.project
.settings

# idea
.idea
*.iml
*.iws
*.ipr

# mac
*.DS_Store

# node & npm
node_modules
dist
.tmp
.sass-cache
.build-tmp
node
rest-config.json
proxy-profiles.json

# vscode
.vscode/

# quarkus & extension
.quinoa/
config/*
log/*

*.dat

# compose
compose/config/*.json
